<section class="footer-first py-5">
  <div class="container py-5">
    <div class="row text-white text-center">
      <div class="col-md-4">
        <div class="content">
          <h3>LOCATION</h3>
          <span class="d-block">2215 John Daniel Drive</span>
          <span>Clark, MO 65243</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h3>AROUND THE WEB</h3>
          <ul class="list-unstyled d-flex justify-content-center gap-1 fs-5">
            <li class="border border-2">
              <i class="fa-brands fa-facebook"></i>
            </li>
            <li class="border border-2">
              <i class="fa-brands fa-twitter"></i>
            </li>
            <li class="border border-2">
              <i class="fa-brands fa-linkedin"></i>
            </li>
            <li class="border border-2">
              <i class="fa-solid fa-globe"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer-second text-white text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="m-0">Copyright © Your Website 2021</p>
      </div>
    </div>
  </div>
</section>
