<nav
  (load)="changeState()"
  (scroll)="changeHeight()"
  class="navbar navbar-expand-lg fixed-top"
  [ngClass]="isExtend ? h2 : h"
>
  <div class="container">
    <a class="navbar-brand fs-2 fw-bold text-white" routerLink="home"
      >START FRAMEWORK
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-uppercase text-white"
            aria-current="page"
            routerLink="about"
            routerLinkActive="test"
            >about</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-uppercase text-white"
            routerLink="portfolio"
            routerLinkActive="test"
            >Portfolio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-uppercase text-white"
            routerLink="contact"
            routerLinkActive="test"
            >contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
