section {
  background-color: #1abc9c;
  margin-top: 100px;
}
.icon {
  position: relative;
}
.icon::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 30px;
  width: 90px;
  height: 4px;
  background-color: white;
}
.icon::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 30px;
  width: 90px;
  height: 4px;
  background-color: white;
}
